<!--
  ~ Copyright © 2016 MagestyApps. All rights reserved.
  ~  * See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="MagestyApps_FixRules" frontName="magestyapps_fixrules">
            <module name="MagestyApps_FixRules"/>
        </route>
    </router>
</config>